@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PlusJakartaSans;
  src: url(/font/PlusJakartaSans-Medium.ttf),
    url(/font/PlusJakartaSans-Regular.ttf), url(/font/PlusJakartaSans-Bold.ttf),
    url(/font/PlusJakartaSans-Light.ttf),
    url(/font/PlusJakartaSans-ExtraLight.ttf);
}

* {
  font-family: PlusJakartaSans;
}

#__next {
  @apply bg-primary-20;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  @apply bg-primary-20 scrollbar-thin scrollbar-track-primary-400/20 scrollbar-thumb-primary-500/80;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

.middle {
  @apply flex justify-center items-center;
}

.btn {
  @apply bg-primary-500 text-white rounded-4 py-3 px-8 text-sm lg:text-sm lg:px-4 lg:py-2.5;
}

.radio-input {
  @apply relative appearance-none w-4 h-4 border border-slate-300 checked:border-0 cursor-pointer rounded-full;
}

.radio-input-after {
  @apply after:content-[''] after:absolute after:inset-0 after:scale-0 after:rounded-full checked:after:scale-50 after:transition-all;
}

.car-box-after::after {
  content: "";
  position: absolute;
  inset: 65% 0 0 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255, 0.7)
  );
}

.swiper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  width: 150px;
  z-index: 50;
  pointer-events: none;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.swiper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 150px;
  z-index: 50;
  pointer-events: none;
  background: linear-gradient(-270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.thanks {
  opacity: 1;
  letter-spacing: 0;
  animation: thanksAnimate 5s infinite;
}

@keyframes thanksAnimate {
  0%,
  100% {
    opacity: 1;
    letter-spacing: 0;
  }
  50% {
    opacity: 0.2;
    letter-spacing: 5px;
  }
}

input[type="range"] {
  @apply w-52 lg:w-56;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  @apply bg-primary-500;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 4px solid white;
  margin-top: -6px;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-primary-500;
  height: 15px;
  border-radius: 50px;
  -webkit-appearance: none;
  border: 4px solid white;
}

input[type="range"]::-webkit-slide {
  @apply bg-primary-500;
  height: 15px;
  border-radius: 50px;
  -webkit-appearance: none;
  border: 4px solid white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
